---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Image from "../components/Image.astro";
import resume from "../../public/JamilSinnoresume.pdf";
import "../styles/reset.css";
import "../styles/global.css";
---

<Layout title="Sinno Technologies - À propos">
	<Header />
	<main class="mainContainer">
        <section>
            <h1 class="about">À propos de moi</h1>
            <div class="container">
                <Image />
                <div class="pContainer">
                    <div class="titleContainer">
                        <h2 class="name">Jamil Sinno</h2>
                        <h3 class="title">Propriétaire - Sinno Technologies.</h4>
                        <p class="text">Je suis un développeur logiciel Full-Stack avec une expertise dans la création d'applications mobiles et web. Ma vision de carrière est centrée sur la promotion de l'accessibilité et de la représentation dans l'industrie de la technologie à travers l'éducation et la défense des droits.</p>
                        <p class="text">Je suis né au Koweït de parents libanais. Nous avons déménagé à Halifax en 2004. Grandir en tant qu'immigrant au Canada m'a offert des expériences précieuses et une perspective unique qui me pousse à défendre les autres ayant des parcours similaires. Avec une formation en génie chimique et industriel de l'Université Dalhousie et une véritable passion pour la programmation, je suis déterminé à utiliser mes compétences pour avoir un impact positif dans le domaine de la technologie. Je crois fermement que tout le monde, quel que soit son origine, devrait avoir des opportunités dans ce domaine en constante expansion de la technologie.</p>
                        <p class="text">Quand je ne suis pas plongé dans le code, je trouve de la joie à explorer divers passe-temps. En ce moment, j'apprends à jouer de la batterie et du clavier, je me dépasse lors de séances de musculation, j'expérimente de nouvelles recettes en cuisine, je me plonge dans des livres captivants et je partage des instantanés de ma vie sur les réseaux sociaux. Et bien sûr, je ne peux pas oublier de mentionner mes deux chats bien-aimés, Ed et Al, qui volent souvent la vedette sur mon... <a class="link" href="https://twitter.com/JamilSinno" target="_blank" rel="noreferrer noopener">Twitter</a>, avec leurs adorables photos.</p>
                    </div>
                    <a id="resume" href={resume} target="_blank">Mon CV</a>
                </div>
            </div>
        </section>
	</main>
</Layout>

<style>
    .mainContainer{
        padding: 1rem 3rem;
        display: flex;
        width:100%;
        height: auto;
    }

    .about{
        font-size: 4rem;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .name{
        font-size: 2.2rem; 
        font-weight: 700;
        padding: 1rem 0 0 1rem;
    }

    .title{
        font-size: 2rem; 
        font-weight: 500;
        padding: 0 1rem;
    }

    .text{
        font-size: 1.8rem;
        padding: 1rem;
        border-radius: 0.7rem;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    } 

    .titleContainer{
        align-self: flex-start;
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(186, 55, 47, 0.5); 
		border-radius: 0.7rem;
        padding: 1rem;
    }

    .pContainer {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .link{
        color: #ba372f;
        text-decoration: underline;
    }

    #resume{
		background-color: rgba(255, 255, 255, 0.75);
        padding: 1rem;
        font-size: 1.8rem;
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7em;
    }

    #resume:hover{
        background-color: rgba(186, 55, 47, 0.5); 
        color: #fff;
        border: 1px solid #000;
    }

    #resume:active{
        transform: scale(0.9);
    }

	@media screen and (max-width: 1080px){
		.container{
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
		}
	}
</style>