---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Image from "../components/Image.astro";
import resume from "../../public/JamilSinnoresume.pdf";
import "../styles/reset.css";
import "../styles/global.css";
---

<Layout title="Sinno Technologies - Jamil Sinno's Portfolio">
	<Header />
	<main class="mainContainer">
        <section>
            <h1 class="about">About Me</h1>
            <div class="container">
                <Image />
                <div class="pContainer">
                    <div class="titleContainer">
                        <h2 class="name">Jamil Sinno</h2>
                        <h3 class="title">Owner - Sinno Technologies.</h4>
                        <p class="text">I am a Full-Stack Software Developer with expertise in building both mobile and web applications. My career vision is centered around promoting accessibility and representation in the technology industry through education and advocacy.</p>
                        <p class="text">I was born in Kuwait to Lebanese parents. We made the move to Halifax in 2004. Growing up as an immigrant in Canada has given me valuable experiences and a unique perspective that drives me to advocate for others who share similar backgrounds. With a background in Chemical and Industrial Engineering from Dalhousie University and a genuine passion for coding, I am determined to utilize my skills to make a positive impact in the tech world. I firmly believe that everyone, regardless of their background, should have opportunities in the ever-expanding field of technology.</p>
                        <p class="text">When I'm not immersed in code, I find joy in exploring various hobbies. I'm currently learning to play the drums and keyboard, pushing myself in weightlifting sessions, experimenting with new recipes in the kitchen, diving into captivating books, and sharing snippets of my life through social media. And of course, I can't forget to mention my two beloved cats, Ed and Al, who often steal the spotlight on my <a class="link" href="https://twitter.com/JamilSinno" target="_blank" rel="noreferrer noopener">Twitter</a> feed with their adorable pictures.</p>
                    </div>
                    <a id="resume" href={resume} target="_blank">My Resume</a>
                </div>
            </div>
        </section>
	</main>
</Layout>

<style>
    .mainContainer{
        padding: 1rem 3rem;
        display: flex;
        width:100%;
    }

    .about{
        font-size: 4rem;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .name{
        font-size: 2.2rem; 
        font-weight: 700;
        padding: 1rem 0 0 1rem;
    }

    .title{
        font-size: 2rem; 
        font-weight: 500;
        padding: 0 1rem;
    }

    .text{
        font-size: 1.8rem;
        padding: 1rem;
        border-radius: 0.7rem;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    } 

    .titleContainer{
        align-self: flex-start;
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(186, 55, 47, 0.5); 
		border-radius: 0.7rem;
        padding: 1rem;
    }

    .pContainer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .link{
        color: #ba372f;
        text-decoration: underline;
    }

    #resume{
		background-color: rgba(255, 255, 255, 0.75);
        padding: 1rem;
        font-size: 1.8rem;
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7em;
    }

    #resume:hover{
        background-color: rgba(186, 55, 47, 0.5); 
        color: #fff;
        border: 1px solid #000;
    }

    #resume:active{
        transform: scale(0.9);
    }

	@media screen and (max-width: 1080px){
		.container{
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
		}
	}
</style>