---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import "../styles/reset.css";
import "../styles/global.css";
---

<Layout title="Sinno Technologies - Contact">
	<Header />
	<main class="container">
        <section class="sectionContainer">
            <h1 class="contact">Contact Me</h1>
            <p class="text">Get in touch and let's see if we can work together!</p>
            <form class="form" name="contactForm" method="POST" data-netlify="true">

                <label class="label" for="fname">First Name</label>
                <input class="input" type="text" id="fname" name="firstname" placeholder="Your first name" required>

                <label class="label" for="lname">Last Name</label>
                <input class="input" type="text" id="lname" name="lastname" placeholder="Your last name" required>

                <label class="label" for="email">Email Address</label>
                <input class="input" type="email" id="email" name="email" placeholder="Your email address" required>

                <label class="label" for="number">Number</label>
                <input class="input" type="text" id="number" name="number" placeholder="Please use ten digit format 999-999-9999">

                <label class="label" for="message">Subject</label>
                <textarea id="message" rows="6" name="message" placeholder="Your message here" required></textarea>

                <button class="submit" type="submit">Submit</button>

            </form>
        </section>
	</main>
</Layout>

<style>
    .container{
        padding: 5rem;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .sectionContainer{
        border: 1px solid rgba(186, 55, 47, 0.5); 
		background-color: rgba(255, 255, 255, 0.75);
		padding: 1rem;
		border-radius: 0.7rem;
        width: 100%;
    }

    .contact{
        font-size: 4rem;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
    }

    .text{
        font-size: 1.8rem;
        padding: 1rem;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.7rem;
        padding: 1rem;
    }

    .label{
        font-size: 1.8rem;
        font-weight: 500;
    }

    #message{
        resize: none;
    }

    .input,
    #message{
        width: 100%;
        padding: 1rem;
		background-color: #eee;
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7rem;
    }

    .submit{
        margin-top: 1rem;
        align-self: center;
        padding: 1rem;
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7rem;
		background-color: #eee;
        min-width: 50%;
        font-size: 1.8rem;
    }

    .submit:hover{
        background-color: rgba(186, 55, 47, 0.5); 
        color: #fff;
        border: 1px solid #000;
        cursor: pointer;
    }

    @media (min-width: 981px) {
        .sectionContainer{
            max-width: 50%;
        }
    }
</style>