---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import "../../public/styles/global.css";
---

<Layout title="Sinno Technologies - Jamil Sinno's Portfolio">
	<Header />
	<main>
        <div class="container">
            <h1>Contact</h1>
            <form class="form" name="contactForm" method="POST" data-netlify="true">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your first name" required>

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name" required>

                <label for="number">Number</label>
                <input type="text" id="number" name="number" placeholder="Please use ten digit format 999-999-9999">

                <label for="message">Subject</label>
                <textarea id="message" name="message" placeholder="Your message here" required></textarea>

                <button type="submit">Submit</button>

            </form>
        </div>
	</main>
</Layout>

<style>
    main{
        padding: 1rem;
    }
    div{
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgba(255, 255, 255, 0.75);
		padding: 1rem;
		border-radius: 0.7rem;
    }

    h1{
        font-size: 4rem;
        padding: 0 1rem;
        text-align: center;
        font-weight: bold;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.7rem;
        padding: 1rem;
    }

    label{
        font-size: 1.8rem;
        font-weight: 500;
    }

    textarea{
        resize: none;
    }

    input,
    textarea{
        width: 100%;
        padding: 1rem;
		background-color: #eee;
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7rem;
		font-family: 'lora', system-ui, sans-serif;
    }

    button{
        align-self: center;
        padding: 1rem;
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7rem;
		background-color: #eee;
    }

    button:hover{
        background-color: rgba(186, 55, 47, 0.5); 
        color: #fff;
        border: 1px solid #000;
    }
</style>