---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Image from "../components/Image.astro";
import "../styles/reset.css";
import "../styles/global.css";
---

<Layout title="Sinno Technologies - Jamil Sinno's Portfolio">
	<Header />
	<main class="container">
		<Hero />
		<Image />
	</main>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 1rem 3rem;
		gap: 1rem;
	}

	@media screen and (max-width: 1080px){
		.container{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
</style>
