---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import ServicesPage from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import "../styles/reset.css";
import "../styles/global.css";
---

<Layout title="Sinno Technologies - Services">
	<Header />
	<main class="container">
        <ServicesPage />
		<Projects />
    </main>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem 3rem;
	}
</style>
