---
import Navigation from './Navigation.astro';
import Logo from './Logo.astro';
---
<header>
 <nav class="navBar" aria-label="Main Navigation">
    <a href="/" class="logo">
        <Logo />
    </a>
    <Navigation />
 </nav>
</header>

<style>
    header{
        background-color: rgba(186, 54, 47, 0.25);
        width:100%;
    }
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: none;
        padding: 1.5rem 3rem;
    }
    
    @media screen and (max-width: 960px) {
        .navBar{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .navBar div{
            width: 100%;
        }

        .logo{
            width: 50%;
            max-height: 100%;
            padding: 1rem;
        }
    }
</style>