---
import Navigation from './Navigation.astro';
import Logo from './Logo.astro';
---
<header>
 <nav class="navBar">
    <a href="/" class="logo">
        <Logo />
    </a>
    <div>
        <Navigation />
    </div>
 </nav>
</header>

<style>
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: none;
        padding: 1em 0;
    }
    
    .logo{
        width: 30%;
        max-height: 100%;
        padding: 1em;
    }

    @media screen and (max-width: 960px) {
        .navBar{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
</style>