---
import Navigation from './Navigation.astro';
import logo from '../../public/logo/logo.png';
---
<header>
 <nav class="navBar">
    <!-- <div class="logoContainer"> -->
        <img src={logo} alt="Sinno Technologies header logo">
    <!-- </div> -->
    <Navigation />
 </nav>
</header>

<style>
    header{
        width: auto;
        padding: 1em 0;
    }

    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: none;
    }

    img{
        transform: scale(0.4);
        transform-origin: center left;
    }
</style>