---
import Navigation from './Navigation.astro';
import logo from '../../public/logo/logo.png';
---
<header>
 <nav class="navBar">
    <div class="navContainer">
        <img src={logo} alt="Sinno Technologies header logo">
    </div>
    <div>
        <Navigation />
    </div>
 </nav>
</header>

<style>
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: none;
    }

    .navContainer{
        width: 50%;
    }

    img{
        transform: scale(0.4);
        transform-origin: center left;
    }
</style>