---
import Navigation from './Navigation.astro';
import logo from '../../public/logo/logo.png';
---
<header>
 <nav class="navBar">
    <div class="navContainer">
        <img src={logo} alt="Sinno Technologies header logo">
    </div>
    <div>
        <Navigation />
    </div>
 </nav>
</header>

<style>
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: none;
        padding: 1em 0;
    }

    .navContainer{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1em;
    }

    img{
        transform: scale(0.4);
        transform-origin: center left;
    }

    @media screen and (max-width: 960px) {
        .navBar{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .navContainer{
            justify-content: center;
            padding-left: 0;
        }

        img{
            transform-origin: center;
            transform: scale(0.7);
        }
    }
</style>