---
import image from "../../public/images/jamilSinnoBrush.svg";
import resume from "../../public/JamilSinnoresume.pdf";
---

<div class="container">
    <h4 class="image">
        <img src={image} alt="Image principale de Jamil Sinno. Les mots sont "Jamil Sinno" avec un coup de pinceau en arrière-plan. Le mot "Sinno" est placé entre des chevrons pour donner l'impression qu'il s'agit d'un composant. Le thème du logo est un design 8 bits.">
    </h4>
    <section class="txtContainer">
        <h1 class="mainTxt">J'aime <a class="link" href="https://github.com/jamilsinno" target="_blank" rel="noreferrer noopener">écrire du code</a>, <a class="link" href="https://1drv.ms/x/s!AkPXqkA8Qy8miULhLB_qMRzfvRFB?e=VdvnT5" target="_blank" rel="noreferrer noopener">lifting weights</a>, et <a class="link" href="https://linktr.ee/sinnotech" target="_blank" rel="noreferrer noopener">créer du contenu</a>.</h1>
        <p class="pContainer">Je travaille en tant que développeur logiciel Full-Stack et je suis spécialisé dans la création d'applications web et mobiles. Mon objectif de carrière est de promouvoir l'éducation et de plaider en faveur de l'accessibilité et de la diversité dans l'industrie technologique.</p>
        <a id="resume" href={resume} target="_blank">Mon CV</a>
    </section>
</div>

<style>
    .container{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image img{
        width: 100%;
        max-height: 100%;
    }

    .txtContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

	.pContainer {
		margin: 1rem 0;
        border: 1px solid rgba(186, 55, 47, 0.5); 
		background-color: rgba(255, 255, 255, 0.75);
        padding: 1rem;
		border-radius: 0.7rem;
	}

    #resume{
		background-color: rgba(255, 255, 255, 0.75);
        padding: 1rem;
        font-size: 1.8rem;
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7em;
    }

    #resume:hover{
        background-color: rgba(186, 55, 47, 0.5); 
        color: #fff;
        border: 1px solid #000;
    }

    #resume:active{
        transform: scale(0.9);
    }

    .mainTxt{
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        padding: 0.5rem 0;
    }

    .txtContainer p {
        font-size: 2.0rem;
    }

    .link{
        color: #ba372f;
    }

    @media (min-width: 981px) {
        h4 img{
            justify-self: flex-end;
        }
    }

</style>