---
import image from "../../public/images/jamilSinnoBrush.svg";
---

<div>
    <img src={image} alt="Jamil Sinno's Hero image. The words are Jamil Sinno with a brush stroke in the back. The word Sinno is in between carats which is supposed to make it look like a component. The theme of the logo is an 8 bit design.">
</div>

<style>
    div{
        width: auto;
    }

    @media screen and (max-width: 480px){
        div{
            transform: scale(0.5);
        }
    }

    @media (min-width: 481px) and (max-width: 980px){
        div{
            transform: scale(0.7);
        }
    }
</style>