---
import logo from "../../public/favicon.svg";
---

<div>
    <img src={logo}>
</div>

<style>
    div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
</style>