---
import logo from "../../public/logo/logo.png";
---

<div>
    <img src={logo} alt="Sinno Technologies Main logo">
</div>

<style>
    div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
</style>