---
---
<ul>
    <li><a class="link" href="/about/">About</a></li>
    <li><a class="link" href="/">Home</a></li>
    <li><a class="link" href="/blog/">Blog</a></li>
</ul>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline-start: 0%;
        width: auto;
        gap: 1em;
    }

    li{
        padding: 0.5em 1em;
        font-size: 1.5rem;
    }

    .link{
        text-decoration: underline;
    }
</style>