---
---
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
</ul>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline-start: 0%;
    }
    li{
        list-style: none;
        padding: 0 1em;
    }
</style>