---
---
<div>
    <a href="/" class="link">Home</a>
    <a href="/about/" class="link">About</a>
    <a href="/services/" class="link">Services</a>
    <a href="/contact/" class="link">Contact</a>
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline-start: 0%;
        width: auto;
        gap: 1em;
        padding: 1em;
    }

    a{
        font-size: 1.5rem;
    }

    .link{
		background-color: rgba(255, 255, 255, 0.75);
        padding: 1em;
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.4em;
    }

    .link:hover{
        background-color: rgba(186, 55, 47, 0.5); 
        color: #fff;
    }

    .link:active{
        transform: scale(0.9);
    }
</style>