---
import conversation from "../../public/icons/conversation.svg";
import proposal from "../../public/icons/proposal.svg";
import code from "../../public/icons/code.svg";
import rocket from "../../public/icons/rocket.svg";
---

<div class="mainContainer">
    <h1 class="title">Is Your Web Presence Working For You?</h1>
    <div class="container">
        <h2 class="services">My Services</h2>
        <section class="textContainer">
            <p class="mainText">Is your website designed to captivate potential customers seeking the services you offer? Does it seamlessly adapt to any device, ensuring a flawless user experience? In today's digital landscape, having a responsive and accessible website is no longer a luxury—it's a necessity.</p>
            <p class="mainText">My mission is to deliver top-notch, responsive, and accessible websites to small businesses and individuals in our community. Whether you're in need of a brand-new website or a revamp to thrive in the mobile era, I'm here to assist you. I specialize in creating a virtual hub where interested parties can discover and engage with your unique offerings. How may I be of service to you today?</p>
        </section>
        <section class="servicesContainer">
                <section class="featureContainer">
                    <img class="image" src={conversation} alt="a picture of two chat bubbles from either direction indicating a conversation.">
                    <div class="content">
                        <h3 class="topic">1. Consultation</h2>
                        <p class="text">It starts with a conversation where we'll determine what your project is about.</p>
                    </div>
                </section>
                <section class="featureContainer">
                    <img class="image" src={proposal} alt="a picture of a pen and paper representing a proposal.">
                    <div class="content">
                        <h3 class="topic">2. Proposal</h2>
                        <p class="text">A detailed project proposal will be presented, followed by an action plan.</p>
                    </div>
                </section>
                <section class="featureContainer">
                    <img class="image" src={code} alt="a picture of a left carrat, forward slash and a right carrat.">
                    <div class="content">
                        <h3 class="topic">3. Creation</h2>
                        <p class="text">Clients receive regular status updates as I work on and test the project.</p>
                    </div>
                </section>
                <section class="featureContainer">
                    <img class="image" src={rocket} alt="a picture of a rocket.">
                    <div class="content">
                        <h3 class="topic">4. Launch</h2>
                        <p class="text">Your product comes to life with value added and peace of mind. </p>
                    </div>
                </section>
        </section>
    </div>
</div>

<style>
    .mainContainer{
        width:100%;
        height: auto;
    }
    .container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
    }

    .services{
        font-size: 3.5rem;
        font-weight: bold;
    }

    .textContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
        height: 100%;
		background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7rem;
    }

    .mainText{
        font-size: 1.8rem;
        width:100%;
        text-align: justify;
        padding: 1rem;
        flex-grow: 1;
    }

    .servicesContainer{
        width:100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .content{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 1rem;
        gap: 1rem;
    }

    .title{
        font-size: 4em;
        font-weight: bold;
        text-align: center;
        padding: 1.5rem;
    }

    .topic{
        font-size: 2.6rem;
        font-weight: bold;
    }

    .featureContainer{
        width: 100%;
        height: auto;
        padding: 1rem;
        display:flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
		background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7rem;
    }

    .featureContainer .text{
        font-size: 1.8rem;
    }

    img {
        width:10%;
        max-height: 100%;
        padding: 1rem 0;
        align-self: flex-start;
    }
    
	@media screen and (max-width: 1080px){
        .servicesContainer{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .textContainer,
        .features{
            width:100%;
            height: auto;
        }
	}
</style>