---
import conversation from "../../public/icons/conversation.svg";
import proposal from "../../public/icons/proposal.svg";
import code from "../../public/icons/code.svg";
import rocket from "../../public/icons/rocket.svg";
---

<div class="mainContainer">
    <h1 class="title">Votre présence sur le web vous est-elle bénéfique ?</h1>
    <div class="container">
        <h2 class="services">Mes services</h2>
        <section class="textContainer">
            <p class="mainText">Votre site web est-il conçu pour captiver les clients potentiels à la recherche des services que vous proposez ? S'adapte-t-il parfaitement à tous les appareils, garantissant ainsi une expérience utilisateur sans faille ? Dans le paysage numérique d'aujourd'hui, avoir un site web réactif et accessible n'est plus un luxe, c'est une nécessité.</p>
            <p class="mainText">Ma mission est de fournir des sites web de qualité, réactifs et accessibles aux petites entreprises ainsi qu'aux particuliers de notre communauté. Que vous ayez besoin d'un tout nouveau site web ou d'une refonte pour prospérer à l'ère du mobile, je suis là pour vous aider. Je suis spécialisé dans la création d'un hub virtuel où les parties intéressées peuvent découvrir et interagir avec vos offres uniques. Donc, comment puis-je vous être utile aujourd'hui ?</p>
        </section>
        <section class="servicesContainer">
                <section class="featureContainer">
                    <img class="image" src={conversation} alt="une image de deux bulles de discussion provenant de directions opposées, indiquant une conversation.">
                    <div class="content">
                        <h3 class="topic">1. Consultation</h2>
                        <p class="text">Cela commence par une conversation où nous déterminerons de quoi votre projet traite.</p>
                    </div>
                </section>
                <section class="featureContainer">
                    <img class="image" src={proposal} alt="une image d'un stylo et d'une feuille de papier représentant une proposition.">
                    <div class="content">
                        <h3 class="topic">2. Proposition</h2>
                        <p class="text">Une proposition de projet détaillée vous sera ensuite présentée, suivie d'un plan d'action.</p>
                    </div>
                </section>
                <section class="featureContainer">
                    <img class="image" src={code} alt="une image d'un chevron gauche, d'une barre oblique et d'un chevron droit.">
                    <div class="content">
                        <h3 class="topic">3. Création</h2>
                        <p class="text">Les clients reçoivent régulièrement des mises à jour d'état pendant que je travaille sur le projet et le teste.</p>
                    </div>
                </section>
                <section class="featureContainer">
                    <img class="image" src={rocket} alt="une image de fusée.">
                    <div class="content">
                        <h3 class="topic">4. Lancement</h2>
                        <p class="text">Votre produit prend vie en offrant une valeur ajoutée et une tranquillité d'esprit.</p>
                    </div>
                </section>
        </section>
    </div>
</div>

<style>
    .mainContainer{
        width:100%;
        height: auto;
    }
    .container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
    }

    .services{
        font-size: 3.5rem;
        font-weight: bold;
    }

    .textContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
        height: 100%;
		background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7rem;
    }

    .mainText{
        font-size: 1.8rem;
        width:100%;
        text-align: justify;
        padding: 1rem;
        flex-grow: 1;
    }

    .servicesContainer{
        width:100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .content{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 1rem;
        gap: 1rem;
    }

    .title{
        font-size: 4em;
        font-weight: bold;
        text-align: center;
        padding: 1.5rem;
    }

    .topic{
        font-size: 2.6rem;
        font-weight: bold;
    }

    .featureContainer{
        width: 100%;
        height: auto;
        padding: 1rem;
        display:flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
		background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(186, 55, 47, 0.5); 
        border-radius: 0.7rem;
    }

    .featureContainer .text{
        font-size: 1.8rem;
    }

    img {
        width:10%;
        max-height: 100%;
        padding: 1rem 0;
        align-self: flex-start;
    }
    
	@media screen and (max-width: 1080px){
        .servicesContainer{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        .textContainer,
        .features{
            width:100%;
            height: auto;
        }
	}
</style>