*{
    box-sizing: border-box;
    margin: 0;
    color: #000;
}
html{
    background-image: url('../images/backgroundLight.svg');
    background-size: cover;
    background-position: center;
    font-size: 62.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

body{
    max-width: 85%;
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black; 
    cursor: pointer;
}

p{
    text-align: justify;
    font-size: 1.5rem;
}