---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Sinno Technologies - Portfolio de Jamil Sinno">
		<meta name="keywords" content="Développement web, Conception web, Portfolio, Visite virtuelle, Créateur de site web, Développement d'applications web, Développement front-end, Développement back-end, Expérience utilisateur, Applications mobiles, Conception d'applications, Développement multiplateforme, Optimisation SEO, Conception adaptative, Marketing numérique, Accessibilité, WCAG, Conformité ADA, Lecteur d'écran, Texte alternatif, Navigation au clavier, Contraste des couleurs, ARIA, Technologie d'assistance, Tests d'accessibilité.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo/tabLogo.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="canonical" href="https://www.jamilsinno.ca">
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 186, 55, 47;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(221, 204, 203) 50% , white 60%);
	}
	html {
		font-family: 'IBM Plex Sans', system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
